button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  padding: 0;
  margin: 0;
  color: black;
  font-family: "Roboto";
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.portfolio-section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.section {
  margin: 0;
}

.active {
  color: rgba(33, 150, 243, 1);
  width: 45px;
  height: 16px;
  font-size: 14px;
  line-height: 1.15;
}

.web {
  color: #2196f3;
}

.studio-footer {
  color: #ffffff;
}

/*----------------header-------------*/

.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  margin-right: 93px;
  padding: 24px 0;
}

.header-container {
  display: flex;
}

.header-nav {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.header-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.header-nav__li:not(:last-child) {
  margin-right: 50px;
}

.active {
  color: rgba(33, 150, 243, 1);
}

.header-contacts {
  display: flex;
  align-items: center;
}

.first-contact {
  margin-right: 50px;
  color: rgba(33, 150, 243, 1);
}

.second-contact {
  color: #757575;
}

/*------------------villain--------------*/

.portfolio-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.villain-button {
  text-align: center;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.blue-button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border: 0px;
  padding: 6px 25px;
  letter-spacing: 0.03em;
  display: inline-block;
}

.white-button {
  display: inline-block;
  background-color: #f5f4fa;
  margin-left: 8px;
  border: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border: 0px;
  border-radius: 4px;
  padding: 6px 22px;
  letter-spacing: 0.03em;
}

/*------------------posters--------------*/

.posters-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.posters-container:nth-child(3n){
  margin-right: 0;
}

.posters-li {
  padding-bottom: 30px;
  margin: 0;
  margin-right: 30px;
}

.posters-div {
  background-color: #ffffff;
  border-top: 0px;
  border-left: 1px solid #dbd3d3;
  border-right: 1px solid #dbd3d3;
  border-bottom: 1px solid #dbd3d3;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 320px;
}

.posters-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 4px;
}

.porters-specialisation {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}

/*-------------------hero-----------------*/

.hero-div {
  background: #2f303a;
  padding: 200px 0;
}

.hero-block {
  margin: 0 auto;
  max-width: 696px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  color: #ffffff;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.hero-button {
  display: block;
  margin: 0 auto;
  background: #2196f3;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  border: 0px;
  letter-spacing: 0.06em;
}

/*------------------hero-----------------*/

/*---------------benefits-------------*/

.benefits {
  padding-bottom: 94px;
  padding-top: 94px;
}

.benefits-title {
  margin-bottom: 10px;
  margin-top: 0;
  text-transform: uppercase;
  font-size: 14px;
}

.benefits-list {
  display: flex;
  align-items: stretch;
}

.benefits-li {
  width: 270px;
}

.benefits-li:not(:last-child) {
  margin-right: 30px;
}

.benefits-description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 1);
}

/*---------------benefits--------------*/

/*---------------work----------------*/

.work-container {
  padding-bottom: 94px;
}

.work-div {
  margin: 0 auto;
  text-align: center;
  display: flex;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
  margin-top: 0;
}

.work-img:not(:last-child){
  margin-right: 32px;
}

/*----------------work-------------*/

/*-------------our-team------------*/

.team-section {
  background: #f5f4fa;
  padding-top: 94px;
}

.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border: 2px;
  border-color: gray;
  margin-top: 0;
  margin-bottom: 50px;
}

.team-list {
  padding-bottom: 94px;
  padding-left: 0;
  margin-bottom: 0;
}

.team-border {
  margin: 0;
  display: flex;
}

.team-list__li:not(:first-child) {
  margin-left: 30px;
}

.team-list__li{
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  display: inline-block;
  background-color: #ffffff;
  text-align: center;
}

.team-photo {
  margin: 0 auto
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.team-name {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-proffesion {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
}
/*------------------our-team-------------*/

/*----------------footer-----------------*/

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-two {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.footer-ul {
  padding-left: 0;
  margin-top: 20px;
}

.adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 9px;
}

.post {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}

.num {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}