body{
    font-family: Roboto;
    color:white;
}

.top {
   background-color: #2F303A ;
}

.webstudio {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;    
}


.desitions {
    position: absolute;
width: 696px;
height: 120px;
left: 452px;
top: 280px;
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}

.buisness {
    background-color:#2F303A ;
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    
}


.text-link{
    color: rgb(43, 150, 243);
    position: absolute;
width: 45px;
height: 16px;
left: 453px;
top: 32px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
}

.port-link {
    position: absolute;
    width: 72px;
    height: 16px;
    left: 548px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;   
}

.cont-link {
    position: absolute;
width: 64px;
height: 16px;
left: 670px;
top: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;
}

.post-link {
    color: rgb(43, 150, 243);
    position: absolute;
width: 135px;
height: 16px;
left: 1078px;
top: 32px;
}

.num-link {
    position: absolute;
width: 122px;
height: 16px;
left: 1263px;
top: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #757575;
}

.attention {
    position: absolute;
width: 270px;
height: 16px;
left: 215px;
top: 774px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}

.time {
    position: absolute;
width: 270px;
height: 16px;
left: 515px;
top: 774px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}

.plan {
    position: absolute;
width: 270px;
height: 16px;
left: 815px;
top: 774px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}

.technology {
    position: absolute;
width: 270px;
height: 16px;
left: 1115px;
top: 774px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}

.buisness{
    color: white;
}

.button {
    cursor: pointer;
background-color: #2196F3;
border-color: #2196F3;
position: absolute;
width: 152px;
height: 30px;
left: 724px;
top: 440px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
position: absolute;
width: 216px;
height: 50px;
left: 692px;
top: 430px;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}


.our-job {
    position: absolute;
width: 366px;
height: 42px;
left: 617px;
top: 966px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.tablet {
    position: absolute;
width: 370px;
height: 294px;
left: 215px;
top: 1058px;
}

.laptop {
    position: absolute;
width: 370px;
height: 294px;
left: 615px;
top: 1058px;
}

.g-tablet {
    position: absolute;
width: 370px;
height: 294px;
left: 1015px;
top: 1058px;
}

.our-team {
    position: absolute;
width: 264px;
height: 42px;
left: 668px;
top: 1540px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.ID {
    position: absolute;
width: 270px;
height: 368px;
left: 215px;
top: 1632px;
}

.OR {
    position: absolute;
width: 270px;
height: 368px;
left: 515px;
top: 1632px;
}

.MT {
    position: absolute;
width: 270px;
height: 368px;
left: 815px;
top: 1632px;
}

.ME {
    position: absolute;
width: 270px;
height: 368px;
left: 1115px;
top: 1632px;
}

.second-studio {
    position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 2154px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: rgba(33, 150, 243, 1);
}

.adress {
    position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 2205px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #FFFFFF;
}

.post {
    position: absolute;
    width: 136px;
    height: 21px;
    left: 215px;
    top: 2235px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);  
}

.num {
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 2265px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

